body {
  background-color: #7FFFD4;
}
h1 {
  text-align: center;
  color: blue;
  font-size: 3em;
  font-family: 'Luckiest Guy', cursive;
}
#center {
  margin: 0 auto;
  text-align: center;

}
img{
  display:block;
  margin:0 auto;
  width:200px;
}
ul {
  list-style-type: none;
}
fieldset {
  border: none;
  z-index: 1;
}
form {
  text-align: center;
}
.weather-img {
  width: 25%;
  z-index: -1;
  position: absolute;
  left: 20%;
}
#your-location {
  font-family: 'Luckiest Guy', cursive;
  color: black;
  font-size: 2em;
}

button {
  background-color: pink;
  color: white;
}

h3 {
  color: purple;
    font-family: 'Luckiest Guy', cursive;
}
#current_location, #temp {
  font-size: 2em;
}
.ajax-loader {
  visibility: hidden;
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  z-index: +100 !important;
  width: 100%;
  height:100%;
}

.ajax-loader img {
  position: relative;
  top:50%;
  left:50%;
}
