.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 50px;
  padding: 100px;
  font-size: 30px;
}

.center-content {
text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;

}
li {
  float: right;
}
li a {
  display: block;
  text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}
li a:hover {
  background-color: white;
}
li a:after {
  color: gray;
}
